{% extends "layout.twig" %}

{% block title %}
<title>Mon compte - StephiPlaceImmo</title>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="css/favoris.css">
<link rel="stylesheet" href="templates/card/card.css">
{% endblock %}

{% block content %}
    <main>
        <div class="main">
            <div class="main_up_part">
                <div class="main_up_box">
                    <h1>MES FAVORIS</h1>
                </div>
            </div>
            <div class="main_down_part">
                <div class="cards">
                    {% for fav in favoris %}
                        <a href="index.php?p=good&bienID={{ fav.id_bien }}" class="delLinkStyle">
                            <div class="main_card">
                                <div class="card_up_part">
                                    <div class="card_img"></div>
                                </div>
                                <div class="card_down_part">
                                    <div class="card_title">
                                        <h3>{{ fav.titre }}</h3>
                                    </div>

                                    <div class="card_city">
                                        <p>{{ fav.ville }}({{ fav.code_postal }})</p>
                                    </div>

                                    <div class="card_desc">
                                        <p>{{ fav.description }}</p>
                                    </div>

                                    <div class="card_price">
                                        <p>{{ fav.prix }}€</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}